{{>template}}

<body>

    <header>

        <div class="header" id="home">
           {{>navbar}}
            <div class="header-section text-white">
                <h1 class="text-capitalize ">welcome to the fitness world</h1>
                <p class="text-center"> The main objective of fitness to be healthy and lead a good and a happy life
                    with maintaining a balanced physique. <b>"How can we do that ?"</b></p>
                <h3 class="text-capitalize">Zumba fitness</h1>
                    <div class="header-buttons mt-4">
                        <a href="#TESTING">TESTING</a>
                    </div>
            </div>
            <div class="icon text-center mt-4 d-flex flex-column">
                <a href="#TESTING"><i class="fas fa-chevron-down fa-2x"></i></a>
                  
            </div>

        </div>
    </header>

    {{!-- ********************************header ended --}}

    {{!-- ********************************about us section started--}}

    <section class="aboutus mt-5">
        <div class="container-fluid mt-5" id="TESTING">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center font-weight-bold text-capitalize ">SECURITY-TESTING</h1>
                    <hr class="mx-auto w-50 mb-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box">
                                <div class="about ">
                                    <div class="pics">
                                        <img class="image d-block mx-auto"
                                            src="https://i.pinimg.com/originals/ee/e8/87/eee88727942fbdc2d5309d83bbede8f2.jpg"
                                            alt="" srcset="">
                                    </div>
                                    <h4 class="text-center font-weight-bold">Zumba</h4>
                                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptatem
                                        perspiciatis sint incidunt possimus. Tempore deleniti veritatis asperiores
                                        doloribus omnis doloremque molestias adipisci.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box">
                                <div class="about ">
                                    <div class="pics">
                                        <img class="image d-block mx-auto"
                                            src="https://i.pinimg.com/originals/ee/e8/87/eee88727942fbdc2d5309d83bbede8f2.jpg"
                                            alt="" srcset="">
                                    </div>
                                    <h4 class="text-center font-weight-bold">Zumba</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptatem
                                        perspiciatis sint incidunt possimus. Tempore deleniti veritatis asperiores
                                        doloribus omnis doloremque molestias adipisci.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="about">
                                    <div class="pics">
                                        <img class="image d-block mx-auto"
                                            src="https://i.pinimg.com/originals/ee/e8/87/eee88727942fbdc2d5309d83bbede8f2.jpg"
                                            alt="" srcset="">
                                    </div>
                                    <h4 class="text-center font-weight-bold">Zumba</h4>
                                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptatem
                                        perspiciatis sint incidunt possimus. Tempore deleniti veritatis asperiores
                                        doloribus omnis doloremque molestias adipisci.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- *********************************about section over************************** --}}


    {{!-- *********************************service section start************************** --}}

    <section class=" services mt-5 ">
        <div class="container-fluid mt-5" id="services">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center font-weight-bold text-capitalize "> services</h1>
                    <hr class="mx-auto w-50 mb-5">
                    {{!-- ----------------------------- --}}
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner container">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="dapa">
                                            <div class="jpg">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwdm9k7126gGUNsUZcPh47CV-iWEUMn667FA&usqp=CAU"
                                                    alt="" srcset="">
                                            </div>
                                            <h4 class="font-weight-bold text-capitalize font-italics"> Zumba</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum corrupti,
                                                expedita veritatis velit ipsum ad, amet maxime deleniti corporis eum
                                                nesciunt, recusandae explicabo?</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="dapa">
                                            <div class="jpg">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwdm9k7126gGUNsUZcPh47CV-iWEUMn667FA&usqp=CAU"
                                                    alt="" srcset="">
                                            </div>
                                            <h4 class="font-weight-bold text-capitalize font-italics"> Zumba</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum corrupti,
                                                expedita veritatis velit ipsum ad, amet maxime deleniti corporis eum
                                                nesciunt, recusandae explicabo?</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="dapa">
                                            <div class="jpg">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwdm9k7126gGUNsUZcPh47CV-iWEUMn667FA&usqp=CAU"
                                                    alt="" srcset="">
                                            </div>
                                            <h4 class="font-weight-bold text-capitalize font-italics"> Zumba</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum corrupti,
                                                expedita veritatis velit ipsum ad, amet maxime deleniti corporis eum
                                                nesciunt, recusandae explicabo?</p>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="dapa">
                                            <div class="jpg">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwdm9k7126gGUNsUZcPh47CV-iWEUMn667FA&usqp=CAU"
                                                    alt="" srcset="">
                                            </div>
                                            <h4 class="font-weight-bold text-capitalize font-italics"> Zumba</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum corrupti,
                                                expedita veritatis velit ipsum ad, amet maxime deleniti corporis eum
                                                nesciunt, recusandae explicabo?</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="dapa">
                                            <div class="jpg">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwdm9k7126gGUNsUZcPh47CV-iWEUMn667FA&usqp=CAU"
                                                    alt="" srcset="">
                                            </div>
                                            <h4 class="font-weight-bold text-capitalize font-italics"> Zumba</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum corrupti,
                                                expedita veritatis velit ipsum ad, amet maxime deleniti corporis eum
                                                nesciunt, recusandae explicabo?</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="dapa">
                                            <div class="jpg">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwdm9k7126gGUNsUZcPh47CV-iWEUMn667FA&usqp=CAU"
                                                    alt="" srcset="">
                                            </div>
                                            <h4 class="font-weight-bold text-capitalize font-italics"> Zumba</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum corrupti,
                                                expedita veritatis velit ipsum ad, amet maxime deleniti corporis eum
                                                nesciunt, recusandae explicabo?</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="dapa">
                                            <div class="jpg">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwdm9k7126gGUNsUZcPh47CV-iWEUMn667FA&usqp=CAU"
                                                    alt="" srcset="">
                                            </div>
                                            <h4 class="font-weight-bold text-capitalize font-italics"> Zumba</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum corrupti,
                                                expedita veritatis velit ipsum ad, amet maxime deleniti corporis eum
                                                nesciunt, recusandae explicabo?</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="dapa">
                                            <div class="jpg">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwdm9k7126gGUNsUZcPh47CV-iWEUMn667FA&usqp=CAU"
                                                    alt="" srcset="">
                                            </div>
                                            <h4 class="font-weight-bold text-capitalize font-italics"> Zumba</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum corrupti,
                                                expedita veritatis velit ipsum ad, amet maxime deleniti corporis eum
                                                nesciunt, recusandae explicabo?</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div class="dapa">
                                            <div class="jpg">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwdm9k7126gGUNsUZcPh47CV-iWEUMn667FA&usqp=CAU"
                                                    alt="" srcset="">
                                            </div>
                                            <h4 class="font-weight-bold text-capitalize font-italics"> Zumba</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum corrupti,
                                                expedita veritatis velit ipsum ad, amet maxime deleniti corporis eum
                                                nesciunt, recusandae explicabo?</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        {{!-- **************** parallax starts********************** --}}
        <section class="parallax">
            <div class="parallax-img">
            </div>
        </section>

        {{!-- *****************************footer starts************************ --}}
        <section class="footer">
            <div class="container-fluid " id="aboutus">
                <div class="row">
                    <div class="col-md-10 col-12 mx-auto">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="persona text-center mt-3">
                                    <h1 class="text-center font-weight-bold text-capitalize p-3"> about the developer
                                    </h1>
                                    <p>Email: cmyash36@gmail.com </p>
                                    <ul>
                                        <li class="list"><a href=""><i class="fab fa-facebook       fa-2x       "></i></i></a></li>
                                        <li class="list"> <a href=""><i class="fab fa-linkedin      fa-2x        "      ></i></a></li>
                                        <li class="list"> <a href=""><i class="fab fa-github-square fa-2x        "></i></a></li>
                                        <li class="list"> <a href=""><i class="fab fa-instagram     fa-2x        "></i></a></li>
                                    </ul>
                                    <a href=""></a>

                                </div>

                            </div>

                            <div class="col-md-6 col-12">
                                <div
                                    class=" sign-up text-center mt-3 d-flex flex-column justify-content-center align-items-center  ">
                                    <h2 class="color-white text-capitalize font-weight-bold mt-3">to get a free and
                                        premium classes for a year register now</h2>
                                    <a href="/register"><button class="bg-primary color-white">register</button></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

      {{>footer}}



        {{>links}}
</body>

</html>