  <footer>
            <p class="text-center font-weight-bold text-capitalize my-auto">copyright &copy; 2020 | all rights reserved
                to <i>"zumba fitness pvt ltd"</i></p>
        </footer>
